# Build outputs
/target/
/build/
/.gradle/

# Eclipse settings
.classpath
.project

# Logs
*.log

# Ignore all jar and class files
*.jar
*.class

# Gradle wrapper binary
gradle/wrapper/gradle-wrapper.jar
